.no-dizmo-drag {
    -apple-dashboard-region: dashboard-region(control rectangle);
}

body {
    margin: 0px;
    padding: 0px;
}

#front {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 550px;
    .front-wrapper{
      width: 380px;
      margin: 10px 10px 0px 10px;

    }
    svg{
      z-index: 10;
    }
    #default-display{

      width: 400px;
      height: 280px;
      text-align: center;
      #default-logo{
        height: 200px;
        position: relative;
        top: 40px;
      }
      #loading-icon{
        display: none;
        //height: 190px;
        position: relative;
        top: 40px;
      }
    }

    #navigation-tab{
      display: none;
      width: 392px;
      height: 40px;
      margin-top: 0px;
      padding-top: 10px;

      button{
        color: rgb(87,151,229);
        border-color: rgb(87,151,229);
        padding: 3px 8px 3px;

      }
      #emotion-btn{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: none;
        width: calc(100%/3 - 28px);
      }
      #language-btn{
        border-radius: 0px;
        position: relative;
        left: -9px;
        width: calc(100%/3 + 7px);
      }
      #social-btn{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: none;
        position: relative;
        // left: -18px;
        left: -14px;
        width: calc(100%/3 + 10px);
      }
    }
    #views{
      display: none;
      height: 240px;
      margin-top: 0px;
      position: absolute;
      top: 40px;
      span {
        position: relative;
        top: 7px;
      }
      .front-view {
          height: 200px;
          width: 100%;
          display: none;
          position: absolute;
          top: 0px;
          .bar-wrapper {
            margin-top: 10px;
            height: 30px;

          }
          .dizmo-radiobutton {
            float: right;
            position: relative;
            left: 10px;
            top: -3px;
          }

          .icon {
            height: 30px;
            float: left;
          }
      }
    }
    #text-input-wrapper{
      position: absolute;
      top: 280px;
      height: 240px;

      text-align: center;
      margin-top: 0px;
      #text-input{
        background-color: rgba(87,151,229,0.15);
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        height: 190px;
        overflow-y: scroll;
        border-color: rgba(87,151,229,1);
        white-space: pre-wrap;
        text-align: left;
        padding: 5px;
      }
      #analyse-btn{
        position: relative;
        top: 10px;
        background-color: rgb(87,151,229);
        border-color: rgb(87,151,229);
        color: white;
        padding: 2px 25px 3px;

      }
    }
}
.bar {
  width: 290px;
  height: 30px;
  border-width: 1px;
  border-radius: 4px;
  float: left;
  margin-left: 10px;
}
.label {
    left: 10px;
}
.percentage {
  float: right;
  right: 10px;
}

svg {
border-radius: 5px;
position: relative;
top: -19px;
z-index: -1;
}
span {

}

#back {
    .done-btn-wrapper {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;

        .done-btn {
            margin-bottom: 20px;
        }
    }
}
